

Program/UootNori/Library
Program/UootNori/Pakudo_Data
Program/UootNori/obj
program/UootNori/Temp
Program/UootNori/UootNori_Data
/Program/UootNori/UootNori.exe
/Program/UootNori/player_win_x86.pdb
/Program/UootNori/player_win_x86_s.pdb
